{% extends 'html/base.html' %}

{% block body %}



  <div class="page-wrapper">


  <div class="page-breadcrumb">
      <div class="row">
          <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">New Master Incident</h3>
              <div class="d-flex align-items-center">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb m-0 p-0">
                          <li class="breadcrumb-item"><a href="{% url 'index' %}" aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                      class="hide-menu">Initial Reporting </span></a>
                          </li>
                      </ol>
                  </nav>
              </div>
          </div>
          <div class="col-5 align-self-center">
              <div class="customize-input float-right">
                  <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                      <option selected>Aug 19</option>
                      <option value="1">July 19</option>
                      <option value="2">Jun 19</option>
                  </select>
              </div>
          </div>
      </div>
  </div>






    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->




<div class="container-fluid">

                <div class="card pt-5 pb-5 pl-5 pr-5">
                <div class="no-gutters">

                  <div class="form-group">


                  <form method="POST">
                    {{form.as_p}}
                    {% csrf_token %}
                    <div class="row pt-5">
                      <div class="col-md-3">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}" aria-expanded="false"><i class="fa fa-times-circle-o" aria-hidden="true"></i><span
                                    class="hide-menu">Cancel </span></a>
                        </li>
                      </div>
                      <div class="col-md-3">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}" aria-expanded="false"><i class="fa fa-floppy-o" aria-hidden="true"></i><span
                                    class="hide-menu">Save </span></a>
                        </li>
                      </div>
                      <div class="col-md-3">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}" aria-expanded="false"><i class="fa fa-sign-out" aria-hidden="true"></i><span
                                    class="hide-menu">Save and Exit </span></a>
                      </div>
                    </li>
                      <div class="col-md-3">
                      <input type="submit" class="btn btn-primary btn-lg float-right" value="Submit for Verification">
                    </div>
                  </div>

                  </form>

                  </div>
                </div>


            </div>


    <footer class="footer text-center text-muted mt-5">
        All Rights Reserved by Adminmart. Designed and Developed by <a
            href="https://wrappixel.com">WrapPixel</a>.
    </footer>
</div>

</div>
{% endblock %}
